body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

/*Navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
}

/*list position Navbar*/
li {
    float: left;
}

/*list style*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.section{
    text-align: center;
}

p{
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.button{
    color: black;
    background-color: white;
    border: 2px solid black;
    font-family:'DM Sans', sans-serif;
}

.button1 {padding: 10px 24px;}