body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

/*Navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
}

/*list position Navbar*/
li {
    float: left;
}

/*list style*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 40px;
}

/*Product Card*/
.card {
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px;
    margin: 2%;
    text-align: center;
    background-size: contain;
}


/*Product Card Button*/
button {
    background-color: black;
    color: white;
    font-family: 'DM Sans', sans-serif;
    padding: 15px 32px;
}

/*Footer*/
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 95%;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 10px 20px;
}
